@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Basic Form");
    var myname = Request.Form["dataentry"];
    var thebutton = Request.Form["theButton"];
    //any other additional processing such as database access
}
@section banner {
    <h1>Basic Form</h1>
}
@if (IsPost)
{
    <div class="offset-1">
        <p>ISPOST = true</p>
    </div>
    if (thebutton.Equals("submit")) //submit button was pressed
    {
        if (string.IsNullOrEmpty(myname))
        {
            <div class="offset-1">
                <p style="color:firebrick">You should enter your name.</p>
            </div>
        }
        else
        {
            <div class="offset-1">
                <p>Well: Hello there @myname</p>
            </div>
        }
    }
    else //reset button was pressed
    {
        myname = "";
        <div class="offset-1">
            <p>You pressed the reset button</p>
        </div>   
    }
}
else
{
    <div class="offset-1">
        <p>IsPost = false</p>
    </div>
}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="label1" for="dataentry">Enter your full name</label>&nbsp;&nbsp;
            <input type="text" id="dataentry" name="dataentry" value="@myname" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="offset-1">
            <button type="submit" id="theButton" name="theButton"
                    value="submit" class="btn btn-primary">
                Submit
            </button>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton"
                    value="reset" class="btn btn-light">
                Reset
            </button>
        </div>
    </div>
</form>
